<div class="forms-devise">

  <h2>Edit Profile</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%# Edit user profile info %>
  <div class="form-inputs">
    <div class="form-toggle">
      <%= f.input :username,
                  required: true, 
                  autofocus: true,
                  label: false,
                  placeholder: 'Username' %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :photo, 
                  as: :file,
                  label: 'Profile picture' %>
    </div>
  
    <%# Edit user account info %>
    <div class="form-toggle" style="display: none;">  
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: 'Email'%>
      <%= f.input :password,
                  required: true,
                  label: false,
                  placeholder: "New password" %>
      <%= f.input :password_confirmation,
                  required: true,
                  label: false,
                  placeholder: 'Confirm new password' %>
    </div>

    <%= f.input :current_password,
                required: true,
                label: false,
                placeholder: 'Current password' %>
  </div>

  <%# Bottom links %>
  <div class="form-actions">
    <div class="shared-devise">

      <%# Edit profile links %>
      <div class="form-toggle account-links">
        <%= link_to 'Go back', profile_path %>
        <a href="#" class="form-toggle-btn">Edit Account</a>
      </div>

      <%# Edit account links %>
      <div class="form-toggle account-links" style="display: none;">
        <a href="#" class="form-toggle-btn">Go back</a>
        <%= link_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete %>
      </div>
    </div>

  <%= f.button :submit, 'Update', class: 'btn-action' %>
  </div>

  <% end %>
</div>