<div class="forms-devise">
  <h2>Resend unlock instructions</h2>

  <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :unlock_token %>

    <div class="form-inputs m0-mb6">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <div class="shared-devise">
        <%= link_to 'Back', new_user_session_path %>
      </div>
      <%= f.button :submit, 'Submit', class: 'btn-action' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>