<%= simple_form_for @recipe do |f| %>
<%= f.input :preparation_time,
    required: true,
    placeholder: 'In minutes',
    label: 'Preparation time:' %>
<%= f.input :cooking_time,
    required: true,
    placeholder: 'In minutes',
    label: 'Cooking time:' %>
<%= f.input :instructions,
    required: true,
    label: false,
    placeholder: 'ex: Mix all ingredients, season with olive oil and serve.' %>
  <div class="two-btn-container">
    <%= link_to 'Back', new_recipe_dose_path(@recipe), class: 'btn-back back-links' %>
    <%= f.button :submit, 'Done!', method: :patch, class: 'btn-action links' %>
  </div>
<% end %>