<div class="secondary-header">
  <h1><%= @recipe.name %></h1>
  <%= link_to edit_ico, edit_recipe_path(@recipe) if author? %>
</div>
<div class="main-show-container">
  <div class="recipe-photo">
    <%= cl_image_tag(recipe_photo(@recipe), transformation: { dpr: "auto", responsive: true, quality: "auto:best", width: "auto", crop: "limit"}) %>
  </div>

  <div class="recipe-details">
    <div class="recipe-detail">
      <div class="title-center">
        <h4 class="underlined">Recipe Details</h4>
      </div>
      <div class="details-container">
        <%= render 'recipe_time_difficulty' %>
      </div>
    </div>

    <div class="recipe-detail">
      <div class="title-center">
        <h4 class="underlined">Nutritional info</h4>
      </div>
      <div class="ingredient-container recipe-total" id="recipe-total-show">
        <%= render 'shared/recipe_nutritional_info' %>
      </div>
    </div>

    <div class="recipe-detail" id="bottom-user-info">
      <div class="user-info">
        <%= cl_image_tag(user_photo(@recipe.user), class: 'avatar', transformation: { quality: 'auto', width: 50, height: 50, gravity: 'face', crop: 'fill' }) %>
        <p>By <%= @recipe.user.username %></p>
      </div>
      <%= render 'favourite_unfavourite' unless author? %>
      <%= render 'favourited_by_users' %>
    </div>
  </div>

  <div class="recipe-preparation">
    <div class="recipe-ingredients">

      <div class="secondary-header">
        <h2>Ingredients</h2>
      </div>

      <ul>
        <% @recipe.doses.each do |dose| %>
          <li>
            <p><%= format_amount(dose.amount) %>g <%= dose.ingredient.name %> <%= dose.description %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="recipe-preparation">
    <div class="recipe-instructions">

      <div class="secondary-header">
        <h2>Instructions</h2>
      </div>

      <p><%= simple_format(@recipe.instructions) %> </p>
    </div>
  </div>

  <div class="links-bottom">
    <%= link_to 'Delete recipe', recipe_path(@recipe), method: :delete, data: {confirm: 'Are you sure?'} if author? %>
  </div>

</div>
