<% if current_page?(root_path) %>
  <nav class="nav">
<% else %>
  <nav class="nav" id="nav-pages">
<% end %>
  <div class="container">
    <div class="logo">
      <%= link_to 'FITFOOD', root_path %>
    </div>
    <div id="mainListDiv" class="main_list">
      <ul class="navlinks">
        <li><%= link_to 'Recipes', recipes_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Profile', profile_path %></li>
        <% end %>
        <li><a href="#">About</a></li>
        <li>
          <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign in', new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </div>
    <span class="navTrigger">
      <i></i>
      <i></i>
      <i></i>
    </span>
  </div>
</nav>