  <%= simple_form_for [@recipe, @dose] do |f| %>

    <div class="ingredient-form-field">
        <%= f.association :ingredient, collection: Ingredient.ordered,
            label: false,
            prompt:'Select ingredient',
            input_html: { class: 'select2' },
            hint: "Missing <i class='fas fa-seedling'></i>?
            #{ link_to 'Add here', new_ingredient_path }".html_safe %>
    </div>

    <div class="ingredient-form-field">
          <%= f.input :amount,
            label: false,
            hint: 'Amount in grams',
            placeholder: 'ex: 150' %>
    </div>

    <div class="ingredient-form-field">
        <%= f.input :description,
          label: false,
          hint: 'Additional info',
          placeholder: 'ex: peeled' %>
    </div>
    <div class="btn-container">
      <%= f.button :submit, 'Add', class: 'btn-action' %>
    </div>
<% end %>