
  <h1><%= @recipe.name %></h1>
    <h3>Ingredients</h3>
    <% unless @recipe.doses.empty? %>
      <% @recipe.doses.each do |dose| %>
        <div class="row justify-content-center">
          <div class="ingredient-info-left ingredient-container">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <div class="ingredient-info">
                <div class="dose-name">
                  <strong><%= dose.ingredient.name %></strong>
                  <small><%= dose.amount.round %>g</small>
                </div>
                <div class="dose-info">
                  <% unless dose.description.empty? %>
                    <i class="fas fa-info-circle"></i>
                      <%= dose.description %>
                    <% end %>
                </div>
              </div>
              </div>
            </div>

          <div class="nutrients-info-right ingredient-container">
            <div class="col-sm-12 col-md-12 col-lg-6col-xl-6">
              <div class="nutrients-info">
                <div class="info-card-sm">
                  <div class="info-card-top">
                    <h6>KCAL</h6>
                  </div>
                  <div class="info-card-btm">
                    <%= dose.ingredient.kcal * (dose.amount / 100 ).round %>
                  </div>
                </div>
                <div class="info-card-sm">
                  <div class="info-card-top">
                    <h6>CARBS</h6>
                  </div>
                  <div class="info-card-btm">
                    <%= dose.ingredient.carbs * (dose.amount / 100 ).round %>
                  </div>
                </div>
                <div class="info-card-sm">
                  <div class="info-card-top">
                    <h6>FATS</h6>
                  </div>
                  <div class="info-card-btm">
                    <%= dose.ingredient.total_fats * (dose.amount / 100 ).round %>
                  </div>
                </div>
                <div class="info-card-sm">
                  <div class="info-card-top">
                    <h6>SAT FATS</h6>
                  </div>
                  <div class="info-card-btm">
                    <%= dose.ingredient.saturated_fats * (dose.amount / 100 ).round %>
                  </div>
                </div>
                <div class="info-card-sm">
                  <div class="info-card-top">
                    <h6>PROTEIN</h6>
                  </div>
                  <div class="info-card-btm">
                    <%= dose.ingredient.protein * (dose.amount / 100 ).round %>
                  </div>
                </div>
                <div class="info-card-sm">
                  <div class="info-card-top">
                    <h6>SALT</h6>
                  </div>
                  <div class="info-card-btm">
                    <%= dose.ingredient.salt * (dose.amount / 100 ) %>
                  </div>
                </div>
              <%# Check how to refactor this code %>
              </div>
              <div class="action-links">
              <%= link_to recipe_dose_path(@recipe, dose.id), method: :delete do %>
                <i class="far fa-times-circle"></i>
              <% end %>
              </div>
            </div>
          </div>

        </div>

    <%# Hidden edit form %>
    <div class="container-test-sm">
      <%= simple_form_for [@recipe, dose] do |f| %>
      <%= f.input :amount %>
      <%= f.input :description %>
      <%= f.button :submit, method: :patch %>
      <% end %>
    </div>
    <%# End of the edit form %>
    <% end %>
  <% end %>

  <div class="form-container">
    <%= render 'add_dose_form' %>
  </div>