<div class="headers">
  <h1><%= @recipe.name %></h1>
</div>
<div class="headers">
  <h2>Ingredients</h2>
</div>
<% unless @recipe.doses.empty? %>
  <div class="secondary-container">
    <% @recipe.doses.each do |dose| %>
      <div class="row justify-content-center">

      <%# Ingredient main info per dose %>
        <div class="ingredient-info-left ingredient-container">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="ingredient-info">
              <div class="dose-name">
                <strong><%= dose.ingredient.name %></strong>
                <small><%= format_amount(dose.amount) %>g</small>
              </div>
              <div class="dose-info">
                <% unless dose.description.empty? %>
                  <i class="fas fa-info-circle"></i>
                  <%= dose.description %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <%# Ingredient nutritional values per dose %>
        <div class="nutrients-info-right ingredient-container">
          <div class="col-sm-12 col-md-12 col-lg-6col-xl-6">
            <div class="nutrients-info">
              <% macros_json(dose.ingredient).each do |name, val| %>
                <div class="info-card-sm">
                  <div class="info-card-top">
                    <h6><%= format_name(name) %></h6>
                  </div>
                  <div class="info-card-btm">
                    <%= calc_macro(dose, name, val) %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="action-links">
              <%= link_to recipe_dose_path(@recipe, dose.id), method: :delete do %>
                <i class="far fa-times-circle"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

    <%# Recipe's total nutritional info %>
  <div class="ingredient-container recipe-total">
    <%= render 'shared/recipe_nutritional_info' %>
  </div>
<% end %>

<div class="form-container" style="display:show;">
  <%= render 'add_dose_form' %>
</div>

<% unless @recipe.doses.empty? %>
  <div class="container">
    <%= link_to 'Add instructions', edit_recipe_path(@recipe), class: 'btn-action links', id: 'btn-action-big' %>
  </div>
<% end %>

