<%# Sidebar %>
<div class="sidebar">
  <a class="tab active" href="#profile-home">
    <i class="fas fa-home"></i>
    <p>Home</p>
  <a class="tab" href="#user-recipes">
    <i class="fas fa-book"></i>
    <p>My recipes</p>
  <a class="tab" href="#favourites">
    <i class="fas fa-bookmark"></i>
    <p>Favourites</p>
  <a class="tab" href="#new-recipe">
    <i class="fas fa-plus"></i>
    <p>New recipe</p>
  </a>
</div>

<div class="profile-main">

  <%# Profile home page %>
  <div class="secondary-container profile-secondary" id="profile-home">
    <div class="profile-header" id="profile-header">
      <div class="header-info">
        <%= cl_image_tag(user_photo(current_user), class: 'avatar-profile', transformation: { quality: 'auto', width: 160, height: 160, gravity: 'face', crop: 'fill'}) %>
        <h1><%= current_user.username %></h1>
        <p>Created recipes: <%= current_user.recipes.count %></p>
        <%= link_to 'Edit profile', edit_user_registration_path(current_user) %>
      </div>
    </div>
  </div>

  <%# User recipes section %>
  <div class="secondary-container profile-secondary" id="user-recipes">
    <%= render 'shared/recipes' %>
  </div>

  <%# Favourited recipes section  %>
  <div class="secondary-container profile-secondary" id="favourites">
    <%= render 'favourite_recipes' %>
  </div>

  <%# Create new recipe section %>
  <div class="secondary-container profile-secondary" id="new-recipe">
    <div class="create-recipe-form">
      <%= render 'recipes/new_recipe_form' %>
    </div>
  </div>

</div>