<%# Sidebar %>
<div class="sidebar">
  <a class="tab active" href="#profile-home">
    <i class="fas fa-home"></i>
    <p>Home</p>
  <a class="tab" href="#user-recipes">
    <i class="fas fa-book"></i>
    <p>My recipes</p>
  <a class="tab" href="#favourites">
    <i class="fas fa-bookmark"></i>
    <p>Favourites</p>
  <a class="tab" href="#new-recipe">
    <i class="fas fa-plus"></i>
    <p>New recipe</p>
  </a>
</div>

<div class="profile-main">

  <%# Profile home page %>
  <div class="secondary-container profile-secondary" id="profile-home">
    <div class="profile-header" id="profile-header">
      <div class="header-info">
        <%= cl_image_tag(user_photo(current_user), class: 'avatar-profile', transformation: { quality: 'auto', width: 160, height: 160, gravity: 'face', crop: 'fill'}) %>
        <h1><%= current_user.username %></h1>
        <p>Created recipes: <%= current_user.recipes.count %></p>
        <%= link_to 'Edit profile', edit_user_registration_path(current_user) %>
      </div>
    </div>
  </div>

  <%# User recipes section %>
  <div class="secondary-container profile-secondary" id="user-recipes">
    <div class="row justify-content-around">
      <% current_user.recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe) do %>
          <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">   
            <div class="card-container card-profile" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path(recipe_photo(recipe), :transformation => { :quality => "auto", :width => "auto", :crop => "limit"}) %>');">
              <h6><%= recipe.name %></h6>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# Favourited recipes section  %>
  <div class="secondary-container profile-secondary" id="favourites">
    <div class="row justify-content-around">
      <% @favourites.each do |recipe| %>
        <%= link_to recipe_path(recipe) do %>
          <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
            <div class="card-container card-profile" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path(recipe_photo(recipe), :transformation => { :quality => "auto", :width => "auto", :crop => "limit"}) %>');">
              <h6><%= recipe.name %></h6>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# Create new recipe section %>
  <div class="secondary-container profile-secondary" id="new-recipe">
    <div class="create-recipe-form">
      <%= render 'recipes/new_recipe_form' %>
    </div>
  </div>

</div>