<!DOCTYPE html>
<html>
  <head>

    <title>FitFood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_path('https://img.icons8.com/ios-glyphs/60/000000/kawaii-rice.png') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <%# To avoid flickering of the page if the user didn't toggle forms or tabs %>
    <% if current_page?(new_user_session_path) || current_page?(profile_path) %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>

  </head>

  <body>

    <%= render 'shared/navbar' %>

    <% if notice %>
      <span class="notice"><%= notice %></span>
    <% end %>
    <% if alert %>
      <span class="alert"><%= alert %></span>
    <% end %>

    <% if current_page?(root_path) %>
      <%= render 'shared/banner' %>
    <% else %>
      <div class="primary-container">
        <%= yield %>
      </div>
    <% end %>

    <%= render 'shared/footer' %>

  </body>
</html>
